<form action="/create_blog" method="post" enctype="multipart/form-data">
    <div>
        <label for="title"></label>
        <input type="text" name="title" id="title">
    </div>

    <div>
        <label for="image"></label>
        <input type="file" name="image" id="image" multiple>
    </div>
    <button type="submit">Add</button>
</form>